#QG-Module .question-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#QG-Module input[type="radio"]:checked ~ label {
  font-weight: bold;
}

#QG-Module .svg-big {
  /* margin-right: 10px; */
  /* margin-top: 10px;
    margin-bottom: 10px; */
  display: inline-block;
}

#QG-Module .svg-big svg {
  width: 25px;
  height: 25px;
}

#QG-Module .loading-text {
  color: gray;
  position: relative;
  top: 85px;
  font-size: 22px;
}

#QG-Module .del-answer {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

#QG-Module .tool-tip {
  width: 450px !important;
  font-size: 14px !important;
}

#QG-Module .tool-tip-hl {
  font-weight: 800 !important;
  color: #dc3545 !important;
}

.rc-loading::after {
  background-color: rgba(0, 0, 0, 0) !important;
}

.text-decoration {
  text-decoration: underline;
}
